[Unit]
Description=RPI Box
After=network.target syslog.target auditd.service systemd-journald.socket basic.target system.slice otbr-agent

[Service]
User=nico
WorkingDirectory=/home/nico/workspace/GreenHomeLan_RpiBox
Environment=FLASK_CONFIG=production
Environment=FLASK_APP="server_box/server/app:create_app()"
ExecStart=/home/nico/workspace/GreenHomeLan_RpiBox/server_box/.venv/bin/flask run --host '0.0.0.0'
Restart=always

[Install]
WantedBy=multi-user.target
